<div class="user-show-page">
<main>
<h2><%=@user.username%>'s Reviews</h2>
<h4>
<% if @user.trusted %>
  <%= @user.username %> is a Trusted Reviewer
<% end %>
</h4>

<% @user.reviews.each do |review| %>
  <section class="individual-review-container">
    <h2><%= link_to review.film.title, film_path(Film.find(review.film_id)) %></h2>
      <% if review.recommend %>
        <section class="review-status"><%=@user.username%> recommended this movie</section>
      <% end %>
    <h2><%= link_to review.review_title, review_path(review) %></h2>
    <p><%= review.review_content %></p>
  </section>
<%end%>
</main>
</div>