<h1>
  <%= @film.title %> / Rating: <%= render partial: 'ratings/ratings', locals: { rateable: @film } %>
</h1>
<h4>Rate This Movie! <%= render partial: 'ratings/new_ratings', locals: { rateable: @film }%></h4>

<div>
  <%=link_to image_tag(@film.picture, size: "200x200") %>
</div>

<div>
  Film Description: <%= @film.description %>
</div>

<%= render partial: "comments/comments", locals: { commentable: @film } %>

<div class="form-container">
  <%= render partial: "comments/form", locals: { commentable: @film } %>
</div>
<hr />

<h1>Film Reviews</h1>
<% @film.reviews.each do |review| %>
<%= render partial: 'reviews/review', locals: { review: review } %>
<br>
<hr />

<% end %>

<hr />
<h2>Submit a Review</h2>

<%= render partial: 'reviews/review_form', locals: { review: @review } %>

