<ul class="nav nav-tabs">
  <li class="active recent"><a href="#">RecentReviews</a></li>
  <li class="trusted"><a href="#">TrustedReviews</a></li>
</ul>

<%=link_to image_tag(@film.picture, size: "200x200") %>
<h2><%= @film.title %></h2>
<p>Film Description: <%= @film.description %></p>
<hr />
<section class="recent-partial"><%= render partial: 'films/recent' %></section>
<section class="trusted-partial"><%= render partial: 'films/trusted' %></section>

<hr />
<h2>Submit a Review</h2>


<%= form_for @review do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :film_id, value: @film.id %>

<%= f.text_field :review_title, :placeholder => "Review Title", :class => "review-input"%><br />
<%= f.text_area :review_content, :placeholder =>"Write your review here...", :class => "review-input" %> <br />

<%= f.label :Recommend? %>
<%= f.check_box :recommend %><br />

<%= f.submit "Create Review" %>
<% end %>




