<h1>
  <%= @film.title %> /<%= render partial: 'ratings/ratings', locals: { rateable: @film } %>
</h1>

<h4>Rate This Movie!  <%= render partial: 'ratings/new_ratings', locals: { rateable: @film }%></h4>

<div>
  <%=link_to image_tag(@film.picture, size: "200x200") %>
</div>

<div>
  Film Description: <%= @film.description %>
</div>

<%= render partial: "comments/comments", locals: { commentable: @film } %>

<div class="form-container">
  <%= render partial: "comments/form", locals: { commentable: @film } %>
</div>
<hr />

<ul class="nav nav-tabs">
  <li class="active recent"><a href="#">RecentReviews</a></li>
  <li class="trusted"><a href="#">TrustedReviews</a></li>
</ul>

<section class="recent-partial"><%= render partial: 'films/recent' %></section>
<section class="trusted-partial"><%= render partial: 'films/trusted' %></section>

<hr />
<h2>Submit a Review</h2>

<%= render partial: 'reviews/review_form', locals: { review: @review } %>

