<main>
<div class="movie-comment-container">
<section class='review_rating'>
  <%= render partial: 'reviews/review', locals: { review: @review } %>

  Did you find this review useful?
  <%= render partial: 'ratings/review_new_rating', locals: { rateable: @review } %>
  <div class='review_useful'>
    <%= render partial: 'ratings/review_usefule_rating', locals: { rateable: @review } %>
  </div>
</section>

<div>
  <% if current_user == @review.user %>
    <%= link_to "Edit", edit_review_path(@review) %>   |
  <% end %>

  <%= link_to "Back", film_path(@film) %>
</div>

<%= render partial: "comments/comments", locals: { commentable: @review } %>

<div class="form-container">
  <%= render partial: "comments/form", locals: { commentable: @review } %>
</div>
</div>
</main>
