<%= render partial: 'reviews/review', locals: { review: @review } %>

<%= link_to "Edit", edit_review_path(@review) %>

| <%= link_to "Back", film_path(@film) %>

<%= render partial: "comments/comments", locals: { commentable: @review } %>

<div class="form-container">
  <%= render partial: "comments/form", locals: { commentable: @review } %>
</div>