<h1>Title:<%= @review.review_title %></h1>
<strong>Film: <%= @review.title %></strong>
<strong>Made By:<%= @review.user %></strong>

<p>Thoughts:<%= @review.review_content %></p>

<p>Would you recommend this film? <%= @review.recommend %></p>
