<h1>Title:<%= @review.review_title.capitalize %></h1>
<div>
  <strong>Film: <%= @review.film.title %></strong>
</div>
<div>
  <strong>Made By:<%= @review.user.email %></strong>
</div>
<p>Would you recommend this film?
  <% if @review.recommend %>
    Yes!
  <% else %>
    Gosh No!
  <% end %>
</p>
<p>Thoughts: <%= @review.review_content %></p>
<div class="form-container">
  <%= form_for @comment, {html: {class: "hide comment-form" } } do |f| %>


    <%= f.label :comment_body %>
    <%= f.text_field :comment_body %>

    <%= f.submit "Create Comment" %>
  <% end %>
</div>